#root{
    --reception-color: transparent;
    --reception-width:400px;
    --reception_height:640px;
  }
  
  p {
  position: relative;
  left:0px;
  width:100%;
  text-align: center;
  }
  
  #contenedor {
  position:absolute;
  width: 400px;
  height:635px;
  animation: aparecer 0.7s forwards;
  }
  
  #title{
  width:100%;
  color:white;
  font-weight: bolder;
  font-size: 50px;
  }
  
  #body_recep{
  width:100%;
  color:white;
  font-size: 30px;
  text-align: center;
  }
  
  #reception {
	background-color: #00f3ff4f;
	height: 640px;
	border-radius: 10px;
	text-align: left;
	color: #fff;
	font-size: 14px;
	border-radius: 0.5em;
	padding: 0 0em;
	position: relative;
	overflow: hidden;
	line-height: 32px;
    width: 418px;
    background: rgb(9,121,82);
    background: linear-gradient(90deg, rgba(9,121,82,1) 5%, rgba(20,182,99,1) 26%, rgba(0,212,255,1) 100%);
}


.botonera {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	display: inline-block;
	text-decoration: none;
	-webkit-user-select: none;
	user-select: none;
	white-space: nowrap;
	vertical-align: middle;
	border: solid white 1px;
	margin: 31px;
	width: 140px;
    height: 140px;
    font-size:20px;
   
}

button.botonera:hover{
    font-weight: 400;
    font-size: 20px;
    transition: 1s;
}

button.botonera:hover{
    border:solid white 7px;
    transition:0.1s
}

button.botonera:active{
    box-shadow: inset 0px 0px 20px 20px rgba(255, 255, 255, 0.603);
    /*background-color: white;*/
    font-weight: 900;
    font-size: larger;
    transition: 0.2s;
}


 
  /*======================================*/

  /* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 90%; /* Full width */
  background-color: rgba(221, 221, 221, 0.404); /* Grey background */
  border-bottom: 10px;
  
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 0px; /* Add top padding */
  padding-bottom: 0px; /* Add bottom padding */
  color: white; /* White text color */
  border-radius: 10px;
  height:30px;
  font-size:25px;
  font-weight: 900;
}

.html {width: 90%; background-color: #73ff00;} /* Green */
.css {width: 80%; background-color: #73ff00;} /* Blue */
.js {width: 65%; background-color: #60d103;} /* Red */
.php {width: 60%; background-color: #459603;} /* Dark Grey */



  
 