.navegator{
  width:100%;
  height:100%;
  box-shadow: inset 0 0px 20px rgb(218, 201, 201);
  filter: blur(0px);
  border-radius: 0px 0px 0px 0px ;
  border:5px rgba(119, 114, 114, 0.199) solid;
  /*background-image: url("../images/vb768.jpg");*/
  background-size: cover;
}

#panels{
    box-shadow: inset 0 0px 20px rgb(218, 201, 201);
    filter: blur(0px);
    border-radius: 0px 0px 0px 0px ;
    border:5px rgba(119, 114, 114, 0.199) solid;
    width:100%;
    height:650px;
}

#cim{
  position:absolute;
  left:0px;
  top:0px;
  height:640px;
  width:400px;
}

#cdm{
  position:absolute;
  top:0px;
  left:0px;
  height:640px;
  width:400px;
}

#space_hide{
  height:100%;
  width:100%;
}

#buttons{
    
    box-shadow: inset 0 0px 20px rgb(218, 201, 201);
    height:110px;
    width:100%;
    background: rgb(9,121,82);
    background: linear-gradient(90deg, rgba(9,121,82,1) 5%, rgba(20,182,99,1) 26%, rgba(0,212,255,1) 100%);

}

#buttons > .botonera{
  width:80px;
  height:80px;
  margin-top: 10px;
}

button.reception::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

 
  button.reception::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  button {
    background: #e5ac8e;
    color: #fff;
    font-size: 24px;
    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
    line-height: 32px;
  }

  button.reception{
    outline:none;
    position:relative;
    background-color: transparent;
    left:0px;
    top:0px;
    width:150px;
    height:100px;
    box-shadow: inset 0 10px 10px rgb(218, 201, 201);
    filter: blur(0px);
    border-radius: 10px;
    border:5px rgba(119, 114, 114, 0.199) solid;
    color: #fff;
    font-size: 30px;
    border-radius: 0.5em;
    padding: 0 1em;
    overflow: hidden;
    cursor: pointer;
  }

  button.reception:hover::after, button.reception:active::after {
    animation: sheen 1s forwards;
  }

  button.reception:hover{
      color:rgb(255, 187, 0);
      font-size: 15px;
      transition: 1s;
  }

  button.reception:active{
      transition: 0.6s;
    box-shadow: inset 0 -10px 10px rgb(211, 175, 57);
  }



  