#main_menu{
    border:1px solid;
}

#icon_div{
    padding:10px;
}

.icono{
    width:100px;
    height:100px
}

#tittle_menu{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#tittle_menu>div{
    /*border:1px solid;*/
    font-size: 30px;
}

#body_menu{
    border: 1px solid;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#footer_menu{
    border:1px solid;
}

.button_menu{
    border: 1px white;
    border-radius: 10px;
    height: 150px;
    margin: 20px;
    width: 200px;
    font-size: 30px;
}